@import "tailwindcss";

:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  color: rgb(68, 68, 68);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1519608487953-e999c86e7455?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  width: 80%;
  padding-top: 2rem;
  margin: auto;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15); /* warna putih transparan */
  backdrop-filter: blur(10px); /* blur background */
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.tagline {
  width: 50%;
  height: 25rem;
  align-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}

.btn {
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 5px #ff00ea, 0 0 3px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* ======================================== mobile ================================== */

@media (max-width: 768px) {
  .container {
    margin: auto;
  }

  .content {
    margin-top: -50px;
    justify-content: center;
    text-align: center;
    display: block;
  }

  .btn {
    background: linear-gradient(135deg, #ff00ea, #8a2be2);
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 10px #ff00ea, 0 0 3px;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff00ea, 0 0 10px #8a2be2;
  }
}
