@import "tailwindcss";
[class^="mgc_"]::before,
[class*=" mgc_"]::before {
  color: inherit !important;
}

:root {
  scroll-behavior: smooth;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  color: rgb(68, 68, 68);
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  --siakti-yellow: #fff691;
  --siakti-red: #fa259f;
  --siakti-green: #a4f7c1;
  --siakti-blue: #05dfd7;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1519608487953-e999c86e7455?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.container {
  width: 80%;
  padding-top: 2rem;
  margin: auto;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15); /* warna putih transparan */
  backdrop-filter: blur(10px); /* blur background */
  -webkit-backdrop-filter: blur(10px); /* untuk Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.content img {
  max-width: 100%;
  height: auto;
}

.tagline {
  width: 50%;
  height: 25rem;
  align-content: center;
}

.btn {
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  /* font-size: 16px; */
  /* font-weight: bold; */
  box-shadow: 0 0 5px #ff00ea, 0 0 3px;
  transition: transform 0.2s, box-shadow 0.2s;
  background: linear-gradient(65deg, #a855f7, #ec4899);
}

.btn:hover {
  background: linear-gradient(-65deg, #a855f7, #ec4899);
  transform: scale(1.05);
  box-shadow: 0 0 10px #ff00ea, 0 0 25px #a855f7;
}
.titi:hover {
  transform: rotate(10deg);
  animation: smooth;
}

/* ======================================== mobile ================================== */

@media (max-width: 768px) {
  .container {
    margin: auto;
  }
}
